<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../ui/static/css/style.css">
    <link rel="stylesheet" href="../../ui/static/css/create_post.css">
    <title>Create Requst</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">Forum</a>
        </div>
    </header>
    
    <main>
        <h1>You are creating request to admin</h1>
        <form action="/request/create" method="POST">
            <label for="content">Submit your request</label>
            <div class="buttons">
                <button type="reset">Home</button>
                <button type="submit">Submit your request</button>
            </div>
        </form>
    </main>
</body>
</html>
