<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../ui/static/css/auth.css">
  <title>Sign Up</title>
</head>

<body>
  <header>
    <a href="/">Forum</a>
  </header>

  <main>
    <form method="POST" class="sign-form">
        <p class="h2 text-center">Please choose a username</p>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input name="username" type="text" name="username" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </main>
</body>
</html>

