<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../ui/static/css/auth.css">
    <title>Sign In</title>
</head>

<body>
    <header>
        <a href="/">Forum</a>
    </header>

    <main>
        <h1>Sign In</h1>
        <form action="sign-in" method="POST">
            <label for="username">Email:</label>
            <input type="text" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Sign In</button>
        </form>
    </main>
</body>
</html>