<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../ui/static/css/auth.css">
  <title>Sign Up</title>
</head>

<body>
  <header>
    <a href="/">Forum</a>
  </header>

  <main>
    <h1>Sign Up</h1>
    <form action="/auth/sign-up" method="POST" novalidate>
      <label for="username">Username:</label>
      <input type="text" id="username" placeholder="Username" name="username" required>

      <label for="email">Email:</label>
      <input type="email" id="email" placeholder="Email" name="email" required>

      <label for="password">Password:</label>
      <input type="password" id="password" placeholder="Password" name="password" required>

      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" placeholder="Confirm password" name="confirm-password" required>
      <button type="submit">Sign Up</button>
    </form>
    <p class="divider">or</p>
      <div class="auth-buttons">
        <a href="/auth/sign-up/google">
          <button class="google-button">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png" width="20" height="20" alt="Google"> Sign up with Google
          </button>
        </a>

        <a href="/auth/sign-up/github">
          <button class="github-button">
            <img src="https://github.githubassets.com/favicon.ico" width="20" height="20" alt="GitHub"> Sign up with GitHub
          </button>
        </a>
      </div>
  </main>
</body>
</html>
